/* css styles */
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700);

sidebar {
  font-family:'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
}

body, body * {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  color:#333;
}

h1 {Quicksand
  margin-top: 50;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 50;
  font-weight: 600;
  text-align: center;
}

h2 {
  margin-top: 7px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: 500;
}

h3 {
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

h4 {
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight:400;
}

h5 {
  margin-top: 5px;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight:400;
}

ul {
  list-style-type: square;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  padding: 10px;
}

ol {
  list-style-type: square;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  padding: 10px;
}

figure {
  float: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  font-size: 0.1rem;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}

